/* CSS Document */
body {
				margin:0;
     }


.header{ 
				 background-image:url(images/gradient_head.png); 
				 background-repeat:repeat-x;
				 height:78px;
			 }
.liner{ 
				 background-image:url(images/liner_head.jpg); 
				 background-repeat:repeat-x;
				 height:19px;
       }

	   
	   
.footer{ 
					border-top:1px solid gray;
					clear: both;
					color: #9EC1CF;
					font-size: 11px;
					text-align: center;
				}
				
				

.tbl_design{
			background-color: #E2E0DD;
}

.tb_design{
			border: 2px solid #B7DDF2;
			border-radius:15px; 
    		box-shadow: 10px 10px 5px #888888;
}

.title{
			 width:850px;
			 height: 21px;
			 background-color: #000000;
}

.separator{
			 width:850px;
			 height:21px;
			 background-color: #000000;
}

.but{
	 		 height: 21px;
			 width: 77px;
			 background-color: #F6F6F2;
			 border: 1px solid #808080;
			 border-radius:5px;
}

.but:hover{
		background-color: #FCE39F;
}

.login {
			 height: 250px;
			 width: 366px;
			}

.top {
    background-color: #7B7A79;
    height: 20px;
    width: 366px;
}

.logback {
    background-color: #EBF4FB;
    height: 240px;
    width: 366px;
}

.view_main{
    		background-image:url(images/search_back.png); 
			background-repeat:no-repeat;
			height:170px;
    		width:432px;
    		border: 2px solid #B7DDF2;
    		border-radius:15px; 
    		box-shadow: 10px 10px 5px #888888;
}


.view_main a:visited {	background-color:#9FF;
}

.date_report{
    			width:802px;
    			height:209px;
				float:right;
			}


